<div class="modal-dialog modal-md modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
    <% if @btn_status != 'reregistration' %>
      <h5 class="modal-title">タスク情報編集</h5>
    <% else %>
      <h5 class="modal-title">タスク登録（履歴）</h5>
    <% end %>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <%= form_with(model: @task, url: user_task_path(@task.user_id, @task.id), local: true, method: :patch) do |f| %>
      <div class="modal-body">

        <% if (@task.client == 0) && (@user.id == @task.user_id) %>
          <div class="box-title">
            <%= f.label :title, "件名", class: "form-control-label" %>
            <%= f.text_field :title, class: "form-control", placeholder: "最大20文字", maxlength: 20, required: true %>
          </div>
        <% end %>

        <div class="box-details">
          <%= f.label :details, "詳細" %>
          <%= f.text_area :details, class: "form-control" %>
        </div>

        <% if (@task.client == 0) && (@user.id == @task.user_id) %>
          <div class="date-start-end">
            <div class="row">
              <div class="col-6 box-start">
                <%= f.label :start, "開始日（予定）" %>
                <div class="input-group date" id="datePicker-start" data-target-input="nearest">
                <%= f.text_field :start, class: "form-control datetimepicker-input", data: {toggle: "datetimepicker", target: "#datePicker-start"}, required: true %>
                  <div class="input-group-append" data-target="#datePicker-start" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                  </div>
                </div>
              </div>
              <div class="col-6 box-end">
                <%= f.label :end_at, "完了日（予定）" %>
                <div class="input-group date" id="datePicker-end" data-target-input="nearest">
                <%= f.text_field :end_at, class: "form-control datetimepicker-input", data: {toggle: "datetimepicker", target: "#datePicker-end"}, required: true %>
                  <div class="input-group-append" data-target="#datePicker-end" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>

        <div class="select-status-progress-request">
          <div class="box-task_status">
            <%= f.label :task_status, "状態" %>
            <%= f.select(:task_status, [["未完了", "未完了"], ["完了", "完了"]], {include_blank: "選択して下さい"}, class: 'form-control select', required: true) if @btn_status != 'reregistration' %>
            <%= f.select(:task_status, [["未完了", "未完了"], ["完了", "完了"]], {include_blank: "選択して下さい", selected: "未完了"}, class: 'form-control select', required: true) if @btn_status == 'reregistration' %>
          </div>
          <div class="box-progress">
            <%= f.label :progress, "進捗状況" %>
            <%= f.number_field :progress, min: 0, class: "form-control number", required: true if @btn_status != 'reregistration'  %>
            <%= f.number_field :progress, min: 0, :value => 0, class: "form-control number", required: true if @btn_status == 'reregistration' %>
          </div>
          <span class="align-self-center">%</span>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-cancel" data-dismiss="modal">
          キャンセル
        </button>
        <% if @btn_status != 'reregistration' %>
          <%= f.submit "変更する", class: "btn btn-primary btn-edit" %>
        <% else %>
          <%= f.submit "登録する", class: "btn btn-primary btn-edit" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
